table,tr,th,td{
    border: 2px rgb(3, 110, 15) solid;
    color: brown;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    margin-top: 110px;
    background-color: rgba(223, 210, 210, 0.188);
   
}

#a1{
    margin-left: 740px;
    color: lightblue;
    
    
}

